#uploadPage {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}
#uploadPage h1 {
    text-align: center;
    color: #333;
}

#uploadPage form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#uploadPage label {
    margin-bottom: 10px;
    color: #151315;
}

#uploadPage input[type="file"] {
    padding: 10px;
    border: 2px solid #fa2fdb;
    font-size: 16px;
    color: #181718;
    cursor: pointer;
}

#uploadPage input[type="file"]:hover {
    border-color: #f5b0f8;
}

#uploadPage input[type="submit"] {
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #0099ff;
    color: #fff;
    cursor: pointer;
}

#uploadPage input[type="submit"]:hover {
    background-color: #008ae6;
}